{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form method="POST">
  <h3 align="center">Update Bluesky Email</h3>

  <div class="form-group">
    <label for="current_bsky_email">Current Bluesky Email</label>
    <input
      type="email"
      class="form-control"
      id="current_bsky_email"
      name="current_bsky_email"
      placeholder="Enter current email"
      required
    />
  </div>

  <div class="form-group">
    <label for="new_bsky_email">New Bluesky Email</label>
    <input
      type="email"
      class="form-control"
      id="new_bsky_email"
      name="new_bsky_email"
      placeholder="Enter new email"
      required
    />
  </div>

  <div class="form-group">
    <label for="bsky_password1">Password</label>
    <input
      type="password"
      class="form-control"
      id="bsky_password1"
      name="bsky_password1"
      placeholder="Enter password"
      required
    />
  </div>

  <div class="form-group">
    <label for="bsky_password2">Password (Confirm)</label>
    <input
      type="password"
      class="form-control"
      id="bsky_password2"
      name="bsky_password2"
      placeholder="Confirm password"
      required
    />
  </div>

  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}